

.about{
    height: 700px;
    width: 100%;
    /* background-color: aqua; */
    background: url('./ab.png') no-repeat center center/cover;
}
.about1{
    height: 700px;
    width: 100%;
    /* background-color: antiquewhite; */
    display: flex;
    position: relative;
    top: 20px;
}
.about2{
    height: 700px;
    width: 100%;
    background-color: black;
    display: flex;
    color: aliceblue;
}
.about11{
    height: 800px;
    width: 100%;
    background-color: black;
    color: aliceblue;
}
.ab1l{
    height: 100%;
    width: 50%;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.ab1r{
    height: 100%;
    width: 50%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}
.ab1r2{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: end;
    align-items: center;
}
.ab1ri{
    /* border: 2px solid black; */
    width: 90%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}
.ab1r h2{
    font-size: 22px;
    letter-spacing: 4px;
    margin-bottom: 0px;
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    position: relative;
    left: -20px;
}
.ab1r p{
    font-size: 18px;
    line-height: 1.6;
    letter-spacing: 1px;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    position: relative;
    left: -20px;
    top: 10px;
    margin-top: 20px;

}
.ab1r2 h2{
    font-size: 22px;
    letter-spacing: 4px;
    margin-bottom: 0px;
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    position: relative;
    left: -12px;
}
.ab1r2 p{
    font-size: 18px;
    line-height: 1.6;
    letter-spacing: 1px;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    position: relative;
    left: -12px;
    top: 10px;
    margin-top: 20px;


}
.ah2{
    text-align: center;
    font-size: 24px;
    letter-spacing: 7px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Inter';
    font-weight: 400;
    position: relative;
    top: 20px;
}

.ab1limg{
    height: 85%;
    width: 80%;
    background:url('./aboutPageFounder.png') no-repeat center center/cover;
    border: 2px solid black ;
}
.ab2limg{
    height: 75%;
    width: 55%;
    background:url('./mew1.png') no-repeat center center/cover;
    border: 2px solid black ;
}
.about3{
    height: 700px;
    width: 100%;
    display: flex;
    /* background-color: aqua; */background: url('./dummy.png') no-repeat center center/cover;
}
.ab3l{
    height: 100%;
    width: 30%;
    /* border: 2px solid rgb(0, 0, 0); */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    padding-top: 70px;
    /* background-color: #383838; */
}
.ab3l h3{
    font-size: 16px;
    color: aliceblue;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin-top: 10px;
    font-family: 'Inter';
    font-weight: 400;
}
.ab3limg{
    height: 60%;
    width: 60%;
    background: url('./girl.png') no-repeat center center/cover;
}

.ab3r{
    width: 65%;
    height: 100%;
    position: relative;
    display: flex;
    color: aliceblue;
}
.img1{
    position: absolute;
    height: 60%;
    width: 30%;
    background: url('./mew1.png') no-repeat center center/cover;
    top: 50%;
    left: 50%;
    transform: translate(-170%, -30%);
}
.img2{
    position: absolute;
    height: 60%;
    width: 30%;
    background: url('./mew2.png') no-repeat center center/cover;
    top: 50%;
    left: 50%;
    transform: translate(-40%, -80%);
}
.img3{
    position: absolute;
    height: 60%;
    width: 30%;
    background: url('./mew3.png') no-repeat center center/cover;
    top: 50%;
    left: 50%;
    transform: translate(80%, -30%);
}

.oneimg{
    height: 100%;
    width: 40%;
    /* background-color: aqua; */
}
.oneimg h3{
    position: absolute;
    /* height: 60%; */
    /* width: 30%; */
    /* background: url('./mew3.png') no-repeat center center/cover; */
    top: 50%;
    left: 50%;
    font-size: 24px;
    transform: translate(-184%, 1520%);
    font-size: 16px;
    color: aliceblue;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin-top: 10px;
    font-family: 'Inter';
    font-weight: 400;
    
}
.twoimg{
    height: 100%;
    width: 40%;
    /* background-color: aqua; */
}
.twoimg h3{
    position: absolute;
    /* height: 60%; */
    /* width: 30%; */
    /* background: url('./mew3.png') no-repeat center center/cover; */
    top: 50%;
    left: 50%;
    font-size: 24px;
    transform: translate(-39%, 430%);
    font-size: 16px;
    color: aliceblue;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin-top: 10px;
    font-family: 'Inter';
    font-weight: 400;
}
.threeimg{
    height: 100%;
    width: 40%;
    /* background-color: aqua; */
}
.threeimg h3{
    position: absolute;
    /* height: 60%; */
    /* width: 30%; */
    /* background: url('./mew3.png') no-repeat center center/cover; */
    top: 50%;
    left: 50%;
    font-size: 24px;
    transform: translate(100%, 1530%);
    font-size: 16px;
    color: aliceblue;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin-top: 10px;
    font-family: 'Inter';
    font-weight: 400;
}
.about4{
    height:850px;
    width: 100%;
    display: flex;
    padding: 30px 0px;
    background-color: black;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.about4 img{
    width: 95%;
    height: 100%;
}
.ab4one{
    width: 33%;
    height: 100%;
    padding: 10px 20px;
    /* background-color: aqua; */
    /* padding: 10px 10px;   */
}
.ab4one1{
    margin-left: 30px;
    height: 50%;
    width: 90%;
    background-color: rgb(0, 0, 0);
}
.ab4one1i{
    height:90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding-left: 20px;
    color: aliceblue;
    /* background-color: antiquewhite; */
}
.ab4one1i h2{
    letter-spacing: 1px;
    margin-bottom: 20px;
    font-size: 25px;
    text-transform: uppercase;
    font-size: 16px;
    color: aliceblue;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin-top: 10px;
    font-family: 'Inter';
    font-weight: 400;
}
.ab4one1i p{
    letter-spacing: 1px;
    line-height: 1.4;
    /* font-weight: 600; */
    font-size: 18px;
    font-size: 16px;
    color: aliceblue;
    letter-spacing: 2px;
    
    margin-top: 10px;
    font-family: 'Inter';
    font-weight: 300;
}
.ab4one2{
    height: 50%;
    background: url('./mew6.png') no-repeat center center/cover; 
    margin-left: 30px;
    width: 90%;
    /* background-color: antiquewhite; */
}
.ab4two{
    width: 30%;
    height: 97%;
    background: url('./mew5.png')no-repeat center center/cover;
    /* background-color: aqua; */
}
.ab43{
    width: 33%;
    height: 100%;
    /* background-color: aqua; */
    padding: 10px 20px;
}
.ab431{
    height: 50%;
    background: url('./mew7.png') no-repeat center center/cover; 
    margin-left: 18px;
    width: 90%;
    margin-bottom: 5px;
}
.ab432{
    height: 48%;
    background: url('./mew8.png') no-repeat center center/cover; 
    margin-left: 18px;
    width: 90%;
    margin-top: 13px;
}
@media screen and (max-width: 780px) {
  

    .ab1limg{
        height: 200px;
    }
    .ab1ri{
        /* border: 2px solid black; */
        width: 90%;
        height: 70%;
        display: flex;
        justify-content: center;
        align-items: start;
        flex-direction: column;
        
    }
    .ab1r h2{
        font-size: 20px;
        letter-spacing: 4px;
        margin-bottom: 0px;
        font-family: 'Inter', sans-serif;
        text-transform: uppercase;
        font-weight: bold;
        position: relative;
        left: -20px;
    }
    .ab1r p{
        font-size: 14px;
        line-height: 1.4;
        letter-spacing: 1px;
        font-family: 'Inter', sans-serif;
        font-weight: 300;
        position: relative;
        left: -20px;
        
        margin-top: 15px;
    
    }
    .ab1r2{
        height: 112%;
    }
    .ab1r2 h2{
        font-size: 20px;
        letter-spacing: 4px;
        margin-bottom: 0px;
        font-family: 'Inter', sans-serif;
        text-transform: uppercase;
        font-weight: bold;
        position: relative;
        left: -20px;
    }
    .ab1r2 p{
        font-size: 14px;
        line-height: 1.4;
        letter-spacing: 1px;
        font-family: 'Inter', sans-serif;
        font-weight: 300;
        position: relative;
        left: -20px;
        
        margin-top: 15px;
    
    }

    .quote{
        display: none;
    }
    
    .about1{
        flex-direction: column;
    }
    .about2{
        flex-direction: column-reverse;
    }
    .ab1r{
        width: 100%;
        justify-content: center;
    }

    .ab1ri p{
        left: 0px;
    }
    .ab1ri h2{
        left: 0px;
    }
    
    .ab1r2{
        width: 100%;
        justify-content: center;
    }
    .ab1l{
        width: 100%;
    }

    .about3{
        height: 880px;
        width: 100%;
        display: flex;
        /* background-color: aqua; */background: url('./dummy2.png') no-repeat center center/cover;
        flex-direction: row;
    }

    .ab3l{
        height: 90%;
        width: 400%;
       
        /* border: 2px solid rgb(0, 0, 0); */
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
        padding-top:30px;
        /* background-color: #383838; */
        position: relative;
        left:40px;
        top:20px;
    }
    .ab3l h3{
        font-size: 22px;
        color: aliceblue;
        letter-spacing: 2px;
        text-transform: uppercase;
        margin-top: 10px;
    }
    .ab3limg{
        height: 100%;
        width: 100%;
        background: url('./girl.png') no-repeat center center/cover;
    }
    
    .ab3r{
        width: 105%;
        height: 100%;
        position: relative;
        display: flex;
        color: aliceblue;
    }
    .img1{
        position: absolute;
        height: 60%;
        width: 30%;
        background: url('./mew1.png') no-repeat center center/cover;
        top: 50%;
        left: 50%;
        transform: translate(-170%, -30%);
        display: none;
    }
    .img2{
        position: absolute;
        height: 60%;
        width: 30%;
        background: url('./mew2.png') no-repeat center center/cover;
        top: 50%;
        left: 50%;
        transform: translate(-40%, -80%);
        display: none;
    }
    .img3{
        position: absolute;
        height: 60%;
        width: 30%;
        background: url('./mew3.png') no-repeat center center/cover;
        top: 50%;
        left: 50%;
        transform: translate(80%, -30%);
        display: none;
    }
    
    .oneimg{
        height: 100%;
        width: 3.0;
        /* background-color: aqua; */
        display: none;
    }
    .oneimg h3{
        position: absolute;
        /* height: 60%; */
        /* width: 30%; */
        /* background: url('./mew3.png') no-repeat center center/cover; */
        top: 50%;
        left: 50%;
        font-size: 24px;
        transform: translate(-240%, 1090%);
    }
    .twoimg{
        height: 100%;
        width: 40%;
        /* background-color: aqua; */
        display: none;
    }
    .twoimg h3{
        position: absolute;
        /* height: 60%; */
        /* width: 30%; */
        /* background: url('./mew3.png') no-repeat center center/cover; */
        top: 50%;
        left: 50%;
        font-size: 24px;
        transform: translate(-30%, 350%);
    }
    .threeimg{
        height: 100%;
        width: 40%;
        /* background-color: aqua; */
        display: none;
    }
    .threeimg h3{
        position: absolute;
        /* height: 60%; */
        /* width: 30%; */
        /* background: url('./mew3.png') no-repeat center center/cover; */
        top: 50%;
        left: 50%;
        font-size: 24px;
        transform: translate(160%, 1090%);
    }



    .about4{
        height:750px;
        width: 100%;
        display: flex;
        padding: 0px 20px;
        background-color: black;
        justify-content: center;
        align-items: center;
    }
    .ab4one{
        width: 200%;
        height: 100%;
        padding: 10px 20px;
        /* background-color: aqua; */
        /* padding: 10px 10px;   */
    }
    .ab4one1{
        margin-left: 30px;
        height: 50%;
        width: 100%;
        background-color: rgb(0, 0, 0);
    }
    .ab4one1i{
        height:90%;
        width: 150%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        padding-left: 0px;
        color: aliceblue;
        /* background-color: antiquewhite; */
        position: relative;
        right: 50px;
    }
    .ab4one1i h2{
        letter-spacing: 1px;
        margin-bottom: 20px;
        font-size: 30px;
        text-transform: uppercase;
        width: 115%;
        text-align: center;
        position: relative;
        left: 150px;
    }
    .ab4one1i p{
        letter-spacing: 1px;
        line-height: 1.4;
        /* font-weight: 600; */
        font-size: 16px;
        width: 120%;
        word-wrap: break-word;
        position: relative;
        left: 150px;
    }
    .ab4one2{
        height: 50%;
        background: url('./mew6.png') no-repeat center center/cover; 
        margin-left: 30px;
        width: 90%;
        /* background-color: antiquewhite; */
        display: none;
    }
    .ab4two{
        min-width: 400px !important;
        width: 100% !important;
        height: 50%;
        background: url('./mew6.png')no-repeat cover center !important;
        /* background-color: aqua; */
        position: relative;
        top:150px;
        right: 125px;
    
    }
    .ab43{
        width: 500%;
        height: 100%;
        /* background-color: aqua; */
        padding: 10px 20px;
        display: none;
    }
    .ab431{
        height: 50%;
        background: url('./mew7.png') no-repeat center center/cover; 
        margin-left: 18px;
        width: 90%;
        margin-bottom: 5px;
        display: none;
    }
    .ab432{
        height: 49%;
        background: url('./mew8.png') no-repeat center center/cover; 
        margin-left: 18px;
        width: 90%;
        display: none;
    }
}