.contain{
    height: 650px;
    width: 100%;
    /* background-color: aqua; */
}

.flex1-container{
    display: flex;
}

.button1admin{
    height: 40px;
    width: 190px;
    display: block;
    margin: auto;
    border: 2px solid black;
    text-align: center;
    margin-top: 50px;
    padding-top: 10px;
    /* background-color: black; */
    cursor: pointer;
}
.dropdownmenu{
    display: none;
}
.dropdownmenu ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .dropdownmenu li {
    padding: 5px 8px;
    margin-top: 7px;
  }
  
  .dropdownmenu li:hover {
    background-color: #e3e3e3;
  }
  
.hidden{
    display: block;
}
.deleteadmin{
    /* position: relative; */
    height: 30px;
    width: 60px;
    font-size: 16px;    
    border: none;
    color: red;
}
.deleteadmin:hover{
    cursor: pointer;
}
.addbtnpage{
    height: 40px;
    width:160px;
    font-size: 17px;
    position: absolute;
    cursor: pointer;
    right: 50px;
}
.addbtnpage1{
    height: 40px;
    width:160px;
    font-size: 17px;
    position: absolute;
    cursor: pointer;
    right: 220px;
}
.addbtnpage2{
    height: 40px;
    width:160px;
    font-size: 17px;
    position: absolute;
    cursor: pointer;
    right: 390px;
}


@media screen and (max-width: 500px) {
    .flex1-container{
        flex-direction: column;
    }
    .deleteadmin{
        position: relative;
        top: 39px;
        /* right: 300px; */
        left: 76.4%;  
        height: 30px;
        width: 60px;
        font-size: 16px;    
        border: none;
    }
    .addbtnpage1{
        height: 40px;
        width: 160px;
        font-size: 17px;
        position:inherit;
        margin: 10px auto;
        cursor: pointer;
        right: 220px;
        display: block;
    }
    .button1admin{
        height: 40px;
        width: 190px;
        display: block;
        margin: auto;
        border: 2px solid black;
        text-align: center;
        margin-top: 17px;
        padding-top: 10px;
        /* background-color: black; */
        cursor: pointer;
    }
    .addbtnpage{
        margin: auto;
        display: block;
        position:initial;
        margin-top: 20px;
    }
}