

.card{
    height: 876px;
    width: 90%;
    display: flex;
    margin: 30px auto;
    /* background-color: aquamarine; */
}
.left{
    height: 100%;
    width: 50%;
    /* background-color: blue; */
    display: flex;
    margin-top: 32px;
}

.one{
    height: 96.4% !important;
    margin-top: 9px;
    width: 24%;
    /* background-color: rgb(187, 59, 59); */
    margin-top: 1px;
    position: relative;
    left: 0px;
}

.main{
    height: 100%;
    width: 77%;
    /* background: url("./Store/assets/Rectangle.png") no-repeat center center/cover; */
    /* background-color: blueviolet; */
}
.divcon{
    height: 23.95%;
    width:90%;
    /* border: 2px solid blanchedalmond; */
    /* background: url("./Store/assets/Rectangle.png") no-repeat center center/cover; */
}

.right{
    height: 100%;
    width: 50%;
    /* background-color:black; */
    padding: 26px;
}
.head{
    text-align: left;
    margin-left: 30px;
    margin-top: 30px;
    font-size: 24px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    letter-spacing: 5px;
}
.img{
    height: 30px;
    width: 100px;
    margin-left: 30px;
}
.inss{
    margin-left: 30px;
    font-size: 25px;
    text-decoration: none;
}
.para{
    margin-top: 13px;
    font-family: "Inter";
    letter-spacing: 1px;
    
}

.para1{
    margin: 15px 30px;
    font-size: 20px;
    color: #555555;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    word-wrap: break-word;
    width: 100%;
    

  }
  
  .styleSelect {
    /* position: absolute; */
    font-family: 'Inter', sans-serif;
    /* z-index: 10; */
    width: 168px;
    height: 44px;
    background: none;
    font-size: 15px;
    margin-left: 30px;
    margin-top: 10px;
    /* border: 1px solid #000; */
}
.btn{
    height: 40px;
    margin: 26px 10px;
    font-family: 'Inter', sans-serif;
    width: 160px;
    border: none;
    background-color: black;
    color: aliceblue;
    font-size: 12px;
    cursor: pointer;
    text-transform: uppercase;
    /* letter-spacing: 1px; */
  }
  .btn1{
    height: 40px;
    /* letter-spacing: 1px; */
    margin-left: 32px;
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
    border: none;
    /* margin:0px 0px; */
    width: 160px;
    background-color: black;
    color: aliceblue;
    font-size: 12px;
    cursor: pointer;
}

.dv{
    margin: 0px 30px 30px 30px;
}
.para2{
    color: grey;
    display: none;
}
span{
    color: black !important;
}
.btnci{
    height: 30px;
    width: 30px;
    background-color: red;
    border-radius: 100%;
    margin-left: 10px;
}
.btnc1i{
    height: 30px;
    width: 30px;
    background-color: black;
    border-radius: 100%;
    margin-left: 10px;
}
.btnc2i{
    height: 30px;
    width: 30px;
    background-color:aliceblue;
    border-radius: 100%;
    margin-left: 10px;
}
.btcolor{
    margin: 10px 20px ;
}

.ull{
  margin-top: -10px;
    margin-left: 50px;
    line-height: 1.6;
    font-size: 18px;
    color: #555555;
    font-weight: 200 !important;
    font-family: 'Inter', sans-serif;
  }
  
  .ull li{
    font-weight: 400;
    line-height: 1.7;
    font-family: 'Inter', sans-serif;
}

.mainimg{
    height: 90%;
    width: 90%;
    /* margin-top: 20px */
    /* padding-top:20px; */
    /* margin-top: 12px; */
    object-fit: cover;
}
.loader {
    border: 12px solid #f3f3f3; /* Light grey */
    border-top:5px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 70px;
    display: block;
    margin: auto;
    height: 70px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  .lds-roller1 {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    top: 106px;
    left: 100px;
  }
  .lds-roller1 div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
  }
  .lds-roller1 div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #000000;
    /* margin: -4px 0 0 -4px; */
    /* margin: auto; */
  }
  .lds-roller1 div:nth-child(1) {
    animation-delay: -0.036s;
  }
  .lds-roller1 div:nth-child(1):after {
    top: 63px;
    left: 63px;
  }
  .lds-roller1 div:nth-child(2) {
    animation-delay: -0.072s;
  }
  .lds-roller1 div:nth-child(2):after {
    top: 68px;
    left: 56px;
  }
  .lds-roller1 div:nth-child(3) {
    animation-delay: -0.108s;
  }
  .lds-roller1 div:nth-child(3):after {
    top: 71px;
    left: 48px;
  }
  .lds-roller1 div:nth-child(4) {
    animation-delay: -0.144s;
  }
  .lds-roller1 div:nth-child(4):after {
    top: 72px;
    left: 40px;
  }
  .lds-roller1 div:nth-child(5) {
    animation-delay: -0.18s;
  }
  .lds-roller1 div:nth-child(5):after {
    top: 71px;
    left: 32px;
  }
  .lds-roller1 div:nth-child(6) {
    animation-delay: -0.216s;
  }
  .lds-roller1 div:nth-child(6):after {
    top: 68px;
    left: 24px;
  }
  .lds-roller1 div:nth-child(7) {
    animation-delay: -0.252s;
  }
  .lds-roller1 div:nth-child(7):after {
    top: 63px;
    left: 17px;
  }
  .lds-roller1 div:nth-child(8) {
    animation-delay: -0.288s;
  }
  .lds-roller1 div:nth-child(8):after {
    top: 56px;
    left: 12px;
  }
  @keyframes lds-roller {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  /* .sizeChart{
    position: absolute;
    right: 450px;
    bottom: 165px;
    text-decoration: underline;
  } */
  @media screen and (max-width: 780px) {

    .card{
      flex-direction: column;
      height: 1100px;
      margin: 26px 0px;
      width: 100%;
    }
    .left{
      width: 100%;
      margin-top: 1px;
      height: 393px;
      padding: 0px 10px;
    }
    .right{
      width: 100%;
      /* height: 700px */
      padding: 0px 17px;
    }
    .btn1{
      margin-left: 1px;
      margin-top: 20px;
      font-size: 17px;
      width: 153px;
    }
    .btn{
      margin-left: 6px;
      margin-top: 20px;
      font-size: 17px;
    }
    .one{
      width: 30% !important;
      padding: 0px 8px !important;
      margin-top: 0px;
      left: -15px;
      margin-left: 15px;
    }
    
.main{
  height: 100%;
  width: 77%;
  /* background: url("./Store/assets/Rectangle.png") no-repeat center center/cover; */
  /* background-color: blueviolet; */
  position: relative;
  right: 15px;
}
    .divcon{
      height: 24%;
      width: 99%;
      margin-bottom: 10px;
    }
    .head{
      margin-left: 1px;
      font-size: 18px;
      letter-spacing: 2px;
    }
    .img{
      margin-left: 1px;
    }
    .dell{
      margin-left: 1px;
    }
    .inss{
      margin-left: 0px;
    }
    .para1{
      margin-left: 1px;
      width: 100%;
    font-size: 16px;

  
    }
    .styleSelect{
      margin-left: 2px;
      color:#000000;
      font-size: 17px;
    }
   
    .btn{
      /* margin-left: 1px; */
      font-size: 14px;
      font-family: 'Inter';
      letter-spacing: 1px;
    }
    .btn1{
      /* margin-left: 1px; */
      font-size: 14px;
      font-family: 'Inter';
      letter-spacing: 1px;
      
    }
    .dv{
      margin: 20px 0px 20px 0px;
  }
    .btcolor{
      margin-left: 1px;
    }
    .ull{
      margin-left: 13px;
    }

    .ull{
      
      margin-top: -10px;
       margin-left: 25px;
        line-height: 1.6;
        font-size: 15px;
        color: #555555;
        font-weight: 200 !important;
        font-family: 'Inter', sans-serif;
      }
      
      .ull li{
        font-weight: 400;
        line-height: 1.7;
        font-family: 'Inter', sans-serif;
    }
    .mainimg{
      height: 100%;
      width: 100%;
    }
  }