.order1{
    height: 700px;
    width: 100%;
    /* background-color: rgb(31, 59, 124); */
}
.containorder{
    height: 700px;
    width: 95%;
    /* padding-top: 30px; */
    margin: auto;
    /* border: 2px solid red; */
}
.orderr{
    /* height: 100px; */
    width: 90%;
    /* margin-top: 20px; */
    margin-left: 90px;
    /* background-color: aqua; */
}
.thh{
    width: 20%;
    border-bottom: 1px solid black;
    height: 90px;
}
.thh1{
    width: 20%;
    border-bottom: 1px solid black;
    height: 90px;
    /* display: block; */
}
.thh2{
    width: 20%;
    border-bottom: 1px solid black;
    height: 90px;
    /* display: block; */
}
.thh3{
    width: 20%;
    border-bottom: 1px solid black;
    height: 90px;
    /* display: block; */
}
.orderr tr th{
    width: 20%;
    height: 90px;
}

.ul{
    text-decoration: underline;
    color: rgb(72, 72, 207);
}

@media screen and (max-width: 780px) {
    .orderr{
        width: 100%;
        margin: 10px 10px;
    }
    .email{
        display: none;
    }
    .pay{
        display: none;
    }
    .phone{
        display: none;
    }
    .thh1{
        display: none;
    }
    .thh2{
        display: none;
    }
    .thh3{
        display: none;
    }
}