.header {
  height: 70px;
  width: 100%;
  background-color: #e3e3e3;
  display: flex;
}

.first {
  display: flex;
  justify-content: left;
  align-items: center;
  padding-left: 20px;
  width: 30%;
}

.second {
  width: 50%;
  align-items: center;
}

.second ul {
  justify-content: center;
  display: flex;
}

.second ul li {
  margin: 22px 30px;
  font-weight: 500;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  list-style: none;
}

.linkk {
  text-decoration: none;
  color: black;
}

.linkkk {
  text-decoration: none;
  color: black;
}

.logoimg {
  height: 60px;
  width: 60px;
}

.third {
  display: flex;
  justify-content: right;
  padding-right: 40px;
  align-items: center;
  width: 20%;
}

.first h2 {
  font-size: 22px;
  margin-left: 10px;
}

.dropdown-menu {
  position: absolute;
  /* display: none; */
  background-color: #FFFFFF;
  /* padding: 8px; */
  width: 100px;
  text-align: center;
  display: none;
  border-radius: 4px;
}

.dropdown-menu:hover{
  display: block;
}

.navbar-link1:hover + .dropdown-menu {
  display: block
}


.dropdown-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdown-menu li {
  padding: 4px 8px;
}

.dropdown-menu li:hover {
  background-color: #FFFFFF;
  cursor: pointer;
  /* width: 100px; */
}

/* Media query for mobile devices */
@media (max-width: 768px) {
  .header {
    flex-direction: column;
  }

  .first,
  .second,
  .third {
    width: 100%;
  }

  .second ul {
    flex-direction: column;
    align-items: center;
    font-size: 17px;
  }

  .second ul li {
    margin: 10px 0;
  }

  .linkk {
    display: none;
  }

  .navbar-item1{
    height: 70px;
    overflow: scroll;
  }

  .dropdown-menu{
    display: block;
  }

  .dropdown-menu li{
    color: red;
  }

  .dropdown {
    position: relative;
  }

  .dropdown .linkkk {
    cursor: pointer;
  }

  .dropdown-menu.open {
    transform: translateX(0);
  }

  .third {
    justify-content: flex-end;
    padding-right: 10px;
  }
}
