@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Source+Code+Pro:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Source+Code+Pro:wght@500&display=swap');


.font{
    /* font-family: 'Oswald', sans-serif;
    font-family: 'Source Code Pro', monospace; */
    font-family: 'Bruno Ace SC', cursive;
    font-family: 'Source Code Pro', monospace;  
}

.navbar{
  width: 50%;
  height: 70px;
  /* background-color:#555555; */
}
.toggle-button{
  display: none;
}
.allnav{
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  display: flex;
}
.sidebar{
  width: 70%;
}
.nav{
  width: 100%;
  height: 70px;
}
.nav ul{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.dropdown-menu{
  display: none;
 

 
  background-color: whitesmoke;
  min-width: 120px;
  height: auto;
  padding: 10px;
  z-index: 999;

}
.dropdown-menu li{
  display: block;
  margin-bottom: 20px;
  cursor: pointer;
  text-decoration: none;
  padding: 5px 10px;
}
.list{
  text-decoration: none;
  color: black;
  font-size: 16px; 
  font-family: "Inter";
  letter-spacing: 0px;
  font-weight: 500;
  margin: 10px 0px -40px 0px;
  text-align: center;
}

.navbar-item1:hover .dropdown-menu {
  display: block;
  
  position:absolute;
  margin-left: -65px;
  margin-top: 0px;
  
}


.logotxt{
  font-size: 16px;
  position: relative;
  top: 10px;
  left: 10px;
}

.navbar-items{
  padding: 10px 10px;
}
.navbar-item{
  margin-left: 50px;
  list-style: none;
}
.navbar-link{
  text-decoration: none;
  color: black;
  font-size: 12px; 
  font-family: "Inter";
  letter-spacing: 3px;
  font-weight: 500;
  position: relative;
  right: 50px;
}
.navbar-link:hover{
  color: red;
}
.navbar-item1{
  margin-left: 50px;
  /* background-color: #6e00ff; */
  list-style: none;
  /* height: 50px; */
  position: relative;
  display: inline-block;
  height: 50px;
  margin-top: 35px;
}
.navbar-link1{
  text-decoration: none;
  cursor: pointer;
  font-size: 12px;
  color: black;
  font-family: "Inter";
  letter-spacing: 3px;
  font-weight: 500;
  position: relative;
  right: 50px;


}
.navbar-link2{
  display: none;

}
.third{
  width: 30%; 
  display: flex;
  justify-content: end;
  /* align-items: end; */
  /* display: block; */
  margin: 20px 30px;
}
.rg{
  display: flex;
  /* justify-content: center; */
  align-items: center;
}
.rg h1{
  font-size: 22px;
  margin-left: 5px;
}

.logoimg{
  height: 50px;
  width: 50px;
  position: relative;
  top: 10px;
  left: 10px;
}
.cartimg{
  height: 30px;
  width: 30px;
}

.card1Right1 {
  /* Common styles for both desktop and mobile */
  margin: 0 10px;
}

.cardimgp1 {
  /* Common styles for both desktop and mobile */
  text-align: center;
  padding: 20px;
}

.cardimgp1 h2 {
  /* Styles for heading */
  font-size: 24px;
}

.cardimgp1 h3 {
  /* Styles for subheading */
  font-size: 18px;
  margin: 10px 0;
}

.cardimgp1 img {
  /* Styles for image */
  width: 100%;
  height: auto;
}

.cardimgp1 h4 {
  /* Styles for price */
  font-size: 20px;
  margin: 10px 0;
}

.cardbtn1 {
  /* Styles for button */
  display: block;
  width: 200px;
  height: 40px;
  margin: 20px auto;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}


@media screen and (max-width: 780px) {
.navbar{
  height: 80px;
}
.third{
  display: none;
}
.sidebar {
    position: fixed;
    top: 0;
    left: -250px;
    z-index: 11;
    height: 100vh;
    width: 250px;
    background-color: #ffffff;
    /* box-shadow: 1px 1px 10px 1px white; */
    transition: all 0.3s ease-in-out;
  }
  .nav{
    height: 230px;
  }

  .navbar-link2{
    display: block;
    margin-left: 20px;
    position: absolute;
    top: 31px;
    right: 60px;
  }

  .navbar-item{
    margin-left: 0px;
    /* background-color: aqua */
  }
  .navbar{
    width: 100%;
  }
  .nav ul{
    flex-direction: column;
    justify-content: unset;
    align-items: unset;
  }
  .navbar-item1{
    margin-left: 9px;
    margin-top: 0px;
    margin-bottom: 5px;
    height: auto;
   
  }

  .sidebar.open {
    left: 0;
  }
  
  .logoimg {
    height:40px;
    width: 40px;
    position: relative;
    top:13px;
  } 

  .logotxt{
    font-size: 18px !important;
    position: relative;
    top:13px;
    
  }

  .cartimg{
    height: 50px;
    width: 20px;
  }
 
  .dropdown-menu{
  
    margin: 0px 0px 10px 0px;
    font-size: 11px;
    color: #555555;
    display: none;
    width: 100%;
    position: initial;
    text-decoration: none;
    color: black;
    font-size: 12px; 
    font-family: "Inter";
    letter-spacing: 3px;
    font-weight: 500;
    
  
    position: relative;
  }
  .navbar-item1:hover .dropdown-menu {
    display: block;
    position: relative;
    margin-left: -15px;
    margin-top: 30px;
    
}
  .dropdown-menu li{
    margin: 20px 0px;
    font-size: 25px;
    cursor: pointer;
    font-weight: 400;
    text-decoration: none;
    color: black;
    font-size: 16px; 
    font-family: "Inter";
    letter-spacing: 3px;
    font-weight: 500;
    position: relative !important;
    text-align: left;
    top: -30px;
  }
  .dropdown-menu h1:hover{
    color: red;
  }
  .text{
    /* margin-top: 15px; */
    margin-left: 10px;
    font-size:21px;
  }
  .navbar-link{
    color: #555555;
    font-size: 18px;
    position: relative;
  right: 0px;
  }
  .navbar-link1{
    color: #555555;
    
    
      text-decoration: none;
      cursor: pointer;
      font-size: 18px;
      
      font-family: "Inter";
      letter-spacing: 3px;
      font-weight: 500;
      position: relative;
      right: 0px;
    top: 2px;
    
    }
    
   
  
  .rg{
    margin: 10px 10px;
    display: flex;
    /* width: 453px; */
  }


  .toggle-button {
    position: absolute;
    top: 23px;
    right: 2%;
    height: 40px;
    width: 40px;
    font-size: 1.5rem;
    color: #555555;
    background-color: white;
    /* border: 2px solid black; */
    /* outline: none; */
    /* cursor: pointer; */
    display: block;
    border: aliceblue;
  }
  
  .toggle-button:hover {
    color: black;
  }
  
  nav {
    margin-top: 50px;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  nav li {
    margin: 10px 0;
  }
  
  nav a {
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    /* font-size: 16px; */
    /* text-align:left; */
    /* margin-left: 20px; */
  }
  
  .name{
    display: block;
    padding: 10px;
    color: white;
    /* background-color: #6e00ff; */
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    font-size: 26px;
    /* text-align:left; */
    margin-left: 32px;
    border: 2px solid beige;
    width: 42px;
    height: 48px;
    border-radius: 11px;
  }

  nav a:hover {
    background-color: #f0f0f0;
    color: #666;
  }
  .card1Right1 {
    width: 25%;
    float: left;
  }
  .card1Right1 {
    width: 100%;
    margin-bottom: 20px;
  }
}