.subgrid{
    padding: 50px 0px 50px 50px;
}
.subheading{
    font-family: 'inter' !important;
    letter-spacing: 3px;
    font-size: 22px;
    position: relative;
    right: 145px;
    bottom: 20px;
}
.paragraph{
    font-family: 'inter';
    letter-spacing: 1px;
    font-size: 16px;
    text-align: left;
    width: 500px;
}
@media screen and (max-width: 600px) {
    .subgrid{
        padding: 0px;
        width: 90% !important;
        margin: auto;
    }
    .subheading{
        position: relative;
        top: 20px;
        right: 0px;
        bottom: 0px;
    }
    .paragraph{
        padding-top: 40px;
        width: 281px !important;
    }
}